<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  	<title> Programacion Web y Red I</title>
  	<meta charset="utf-8" />
  	<link rel="stylesheet" href="normalize.css" />
  	<link rel="stylesheet" href="myStyles.css" />
  </head>
<body>
	<DIV id="left" >
	<h2> HTML5 </h2>
	<img src= "images\HTML5.png" alt= "HTML5" widht="150px" height="150px" title= "Diseño Web"/>
	<p > HTML5 (HyperText Markup Language, versión 5) es la quinta revisión importante del lenguaje básico de la World Wide Web, HTML. HTML5 especifica dos variantes de sintaxis para HTML: un «clásico» HTML (text/html), la variante conocida como HTML5 y una variante XHTML conocida como sintaxis XHTML5 que deberá ser servida como XML. </p>
	</DIV>
	<DIV id="center" >
	<h2> CSS3 </h2>
	<img src= "images\css3.png" alt= "CSS3" widht="150px" height="150px" title= "Diseño Web"/>
	<p > Hoja de estilo en cascada o CSS (siglas en inglés de cascading style sheets) es un lenguaje usado para definir la presentación de un documento estructurado escrito en HTML o XML2 (y por extensión en XHTML). El World Wide Web Consortium (W3C) es el encargado de formular la especificación de las hojas de estilo que servirán de estándar para los agentes de usuario o navegadores. </p>
	</DIV>
	<DIV id="right" >
	<h2> jQuery </h2>
	<img src= "images\jquery.png" alt= "jQuery" widht="150px" height="150px" title= "Diseño Web"/>
	<p > jQuery es una biblioteca de JavaScript, creada inicialmente por John Resig, que permite simplificar la manera de interactuar con los documentos HTML, manipular el árbol DOM, manejar eventos, desarrollar animaciones y agregar interacción con la técnica AJAX a páginas web. Fue presentada el 14 de enero de 2006 en el BarCamp NYC. jQuery es la biblioteca de JavaScript más utilizada </p>
	</DIV>

	<TABLE BORDER=1 WIDTH="100px" align="center">
		<!-- Renglon 1 -->
		<TR>
			<TD >
				<img src= "images\1.jpg" width="100px" height="100px" >
			</TD>
			<TD>
				<img src= "images\2.jpg" width="100px" height="100px"  >
			</TD>
			<TD>
				<img src= "images\3.jpg" width="100px" height="100px"  >
			</TD>
			<TD>
				<img src= "images\4.jpg" width="100px" height="100px"  >
			</TD>
			<TD>
				<img src= "images\5.jpg" width="100px" height="100px"  >
			</TD>
		</TR>
		<!-- Renglon 2 -->
		<TR>
			<TD>
				<img src= "images\6.jpg" width="100px" height="100px"  >
			</TD>
			<TD>
				<img src= "images\7.jpg" width="100px" height="100px" >
			</TD>
			<TD>
				<img src= "images\8.jpg" width="100px" height="100px"  >
			</TD>
			<TD>
				<img src= "images\9.jpg"width="100px" height="100px"  >
			</TD>
			<TD>
			<img src= "images\10.jpg" width="100px" height="100px"  >
			</TD>
		</TR>
		<!-- Renglon 3 -->
		<TR>
			<TD>
				<img src= "images\11.jpg" width="100px" height="100px"  >
			</TD>
			<TD>
				<img src= "images\12.jpg" width="100px" height="100px" >
			</TD>
			<TD>
				<img src= "images\13.jpg" width="100px" height="100px" >
			</TD>
			<TD>
				<img src= "images\14.jpg" width="100px" height="100px" >
			</TD>
			<TD>
				<img src= "images\15.jpg" width="100px" height="100px" >
			</TD>
		</TR>
		<!-- Renglon 4 -->
		<TR>
			<TD>
				<img src= "images\16.jpg" width="100px" height="100px"  >
			</TD>
			<TD>
				<img src= "images\17.jpg" width="100px" height="100px"  >
			</TD>
			<TD>
				<img src= "images\18.jpg" width="100px" height="100px"  >
			</TD>
			<TD>
				<img src= "images\19.jpg" width="100px" height="100px" >
			</TD>
			<TD>
				<img src= "images\20.jpg" width="100px" height="100px"  >
			</TD>
		</TR>
	</TABLE>	

</body>
</html>